<html>
  <head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>用van-calendar实现展示指定月份并自定义日期文案 | AzhA</title>
<link rel="shortcut icon" href="https://liujia12138.github.io/favicon.ico?v=1697971967958">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://liujia12138.github.io/styles/main.css">
<link rel="alternate" type="application/atom+xml" title="用van-calendar实现展示指定月份并自定义日期文案 | AzhA - Atom Feed" href="https://liujia12138.github.io/atom.xml">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700">



    <meta name="description" content="效果图:

代码：
&lt;template&gt;
  &lt;div&gt;
    &lt;van-button icon=&quot;notes-o&quot; round type=&quot;info&quot; plain s..." />
    <meta name="keywords" content="vue" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css">
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="main-content">
        <div class="site-header">
  <a href="https://liujia12138.github.io">
  <img class="avatar" src="https://liujia12138.github.io/images/avatar.png?v=1697971967958" alt="">
  </a>
  <h1 class="site-title">
    AzhA
  </h1>
  <p class="site-description">
    温故而知新
  </p>
  <div class="menu-container">
    
      
        <a href="https://liujia12138.github.io" class="menu">
          Home
        </a>
      
    
      
        <a href="https://liujia12138.github.io/archives" class="menu">
          Archives
        </a>
      
    
      
        <a href="https://liujia12138.github.io/tags" class="menu">
          Tags
        </a>
      
    
      
        <a href="https://liujia12138.github.io/post/about" class="menu">
          About
        </a>
      
    
  </div>
  <div class="social-container">
    
      
    
      
    
      
    
      
    
      
    
  </div>
</div>

        <div class="post-detail">
          <article class="post">
            <h2 class="post-title">
              用van-calendar实现展示指定月份并自定义日期文案
            </h2>
            <div class="post-info">
              <span>
                2022-04-27
              </span>
              <span>
                4 min read
              </span>
              
                <a href="https://liujia12138.github.io/d8mNIHknn/" class="post-tag">
                  # vue
                </a>
              
            </div>
            
            <div class="post-content-wrapper">
              <div class="post-content">
                <p>效果图:<br>
<img src="https://liujia12138.github.io/post-images/1663053616494.jpg" alt="" loading="lazy"></p>
<p>代码：</p>
<pre><code>&lt;template&gt;
  &lt;div&gt;
    &lt;van-button icon=&quot;notes-o&quot; round type=&quot;info&quot; plain size=&quot;mini&quot; @click=&quot;showPicker = true&quot;&gt;
      选择日期&lt;van-icon name=&quot;arrow-down&quot; /&gt;
    &lt;/van-button&gt;

    &lt;van-popup v-model=&quot;showPicker&quot; position=&quot;bottom&quot;&gt;
      &lt;van-datetime-picker
        title=&quot;选择日期&quot;
        type=&quot;year-month&quot;
        v-model=&quot;currentDate&quot;
        :columns-order=&quot;['year', 'month', 'day']&quot;
        @confirm=&quot;onConfirm&quot;
        @cancel=&quot;showPicker = false&quot;
        :formatter=&quot;formatter&quot;
        :max-date=&quot;maxDate&quot;
      /&gt;
    &lt;/van-popup&gt;

    &lt;van-calendar
      v-if=&quot;this.dataList.length &gt; 0&quot;
      :poppable=&quot;false&quot;
      :formatter=&quot;formatterCalendar&quot;
      :default-date=&quot;defaultDate&quot;
      :min-date=&quot;minDate&quot;
      :max-date=&quot;calendarMaxDate&quot;
      :show-title=&quot;false&quot;
      :show-subtitle=&quot;false&quot;
      :show-confirm=&quot;false&quot;
      @select=&quot;selectDate&quot;
    /&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
/**
 * Parse the time to string
 * @param {(Object|string|number)} time
 * @param {string} cFormat
 * @returns {string}
 */
function parseTime(time, cFormat) {
  if (arguments.length === 0) {
    return null
  }
  const format = cFormat || '{y}-{m}-{d} {h}:{i}:{s}'
  let date
  if (typeof time === 'object') {
    date = time
  } else {
    if (typeof time === 'string' &amp;&amp; /^[0-9]+$/.test(time)) {
      time = parseInt(time)
    }
    if (typeof time === 'number' &amp;&amp; time.toString().length === 10) {
      time = time * 1000
    }
    date = new Date(time)
  }
  const formatObj = {
    y: date.getFullYear(),
    m: date.getMonth() + 1,
    d: date.getDate(),
    h: date.getHours(),
    i: date.getMinutes(),
    s: date.getSeconds(),
    a: date.getDay()
  }
  const time_str = format.replace(/{(y|m|d|h|i|s|a)+}/g, (result, key) =&gt; {
    let value = formatObj[key]
    // Note: getDay() returns 0 on Sunday
    if (key === 'a') {
      return ['日', '一', '二', '三', '四', '五', '六'][value]
    }
    if (result.length &gt; 0 &amp;&amp; value &lt; 10) {
      value = '0' + value
    }
    return value || 0
  })
  return time_str
}

export default {
  data() {
    return {
      showPicker: false,
      currentDate: new Date(),
      maxDate: new Date(),
      minDate: new Date(),
      calendarMaxDate: new Date(),
      defaultDate: new Date(),
      dataList: [],
      classList: {}
    }
  },
  computed: {
    formatDate() {
      return parseTime(this.currentDate, this.pickerType === 'date' ? '{y}年{m}月{d}日' : '{y}年{m}月')
    }
  },
  created() {
    this.update()
  },
  methods: {
    formatter(type, val) {
      if (type === 'year') {
        return val + '年'
      }
      if (type === 'month') {
        return val + '月'
      }
      if (type === 'day') {
        return val + '日'
      }
      return val
    },
    onConfirm(value) {
      this.showPicker = false
      this.update(value)
    },
    formatterCalendar(day) {
      const date = day.date.getDate()
      const type = this.dataList[date - 1] || ''

      day.bottomInfo = type
      day.className =
        type === '优'
          ? 'level1'
          : type === '良'
          ? 'level2'
          : type === '轻度'
          ? 'level3'
          : type === '中度'
          ? 'level4'
          : type === '重度'
          ? 'level5'
          : 'level6'
      return day
    },
    update(value) {
      this.dataList = ['优', '良', '中度', '重度', '严重', '优', '优', '良', '中度', '重度', '严重']
      this.defaultDate = value || new Date()
      this.setMinMaxDay()
    },
    // 设置显示月份可选择的天数区间
    setMinMaxDay() {
      const year = new Date(this.defaultDate).getFullYear()
      const month = new Date(this.defaultDate).getMonth()
      const lastDay = new Date(year, month + 1, 0)
      this.minDate = new Date(year, month, 1)
      this.calendarMaxDate = lastDay
    },
    selectDate(date) {
      console.log(date)
    }
  }
}
&lt;/script&gt;
&lt;style&gt;
.van-calendar__month-title {
  display: none;
}
.van-calendar__day {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}
.van-calendar__selected-day {
  background: #cdcbc8;
  color: #515151;
  height: 30px;
  line-height: 30px;
}
.van-calendar__bottom-info {
  border-radius: 5px;
  font-size: 10px;
  padding: 1px 3px;
  color: #fff;
  position: initial;
  vertical-align: middle;
  margin-left: 5px;
}
.level1 .van-calendar__bottom-info {
  background: #b0cb8f;
}
.level2 .van-calendar__bottom-info {
  background: #f2d875;
}
.level3 .van-calendar__bottom-info {
  background: #e5a74c;
}
.level4 .van-calendar__bottom-info {
  background: #cc6065;
}
.level5 .van-calendar__bottom-info {
  background: #ac4176;
}
.level6 .van-calendar__bottom-info {
  background: #7d1f2c;
}
&lt;/style&gt;

</code></pre>

              </div>
              <div class="toc-container">
                
              </div>
            </div>
          </article>
        </div>

        
          <div class="next-post">
            <div class="next">下一篇</div>
            <a href="https://liujia12138.github.io/zen-yang-shi-xian-yi-ge-kong-zhi-tai-du-shan-bu-diao-de-dombao-hu-shui-yin/">
              <h3 class="post-title">
                怎样实现一个控制台都删不掉的 DOM（保护水印）
              </h3>
            </a>
          </div>
        

        

        <div class="site-footer">
  AzhA
  <a class="rss" href="https://liujia12138.github.io/atom.xml" target="_blank">
    <i class="ri-rss-line"></i> RSS
  </a>
</div>

      </div>
    </div>

    <script>
      hljs.initHighlightingOnLoad()

      let mainNavLinks = document.querySelectorAll(".markdownIt-TOC a");

      // This should probably be throttled.
      // Especially because it triggers during smooth scrolling.
      // https://lodash.com/docs/4.17.10#throttle
      // You could do like...
      // window.addEventListener("scroll", () => {
      //    _.throttle(doThatStuff, 100);
      // });
      // Only not doing it here to keep this Pen dependency-free.

      window.addEventListener("scroll", event => {
        let fromTop = window.scrollY;

        mainNavLinks.forEach((link, index) => {
          let section = document.getElementById(decodeURI(link.hash).substring(1));
          let nextSection = null
          if (mainNavLinks[index + 1]) {
            nextSection = document.getElementById(decodeURI(mainNavLinks[index + 1].hash).substring(1));
          }
          if (section.offsetTop <= fromTop) {
            if (nextSection) {
              if (nextSection.offsetTop > fromTop) {
                link.classList.add("current");
              } else {
                link.classList.remove("current");    
              }
            } else {
              link.classList.add("current");
            }
          } else {
            link.classList.remove("current");
          }
        });
      });

    </script>
  </body>
</html>
